params {
    reads   = "data/*_{1,2}.fastq.gz"
    genome  = "references/human_genome.fa"
    vep_dir = "references/vep"
    threads = 2
}

process {
    executor = 'local'         // локальный запуск, альтернативно: slurm, aws, google и др.
    cpus = 8                   // количество процессоров по умолчанию
    memory = '2 GB'            // память по умолчанию
    time = '4h'                // максимальное время работы процесса
    errorStrategy = 'retry'    // повтор запуска при ошибке
    maxRetries = 2             // количество повторных попыток
}

executor {
    queueSize = 10             // Максимальное число одновременно выполняемых процессов
}

docker {
    enabled = false
    // image = 'имя_docker_образа' // ...
}

report {
    enabled = true
    file = 'pipeline_report.html'
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
}

timeline {
    enabled = true
    file = 'timeline.html'
}

